@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #BF887E;
    --secondary: #56626A;

    --pr-1: #EBE6E6;
    --pr-2: #DCC9C0;
    --sr-1: #DAD3CC;
    --sr-2: #f9e2d8;
    --sr-3: #BDC6C3;

    --black: #010101;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}
