@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #BF887E;
    --secondary: #56626A;

    --pr-1: #EBE6E6;
    --pr-2: #DCC9C0;
    --sr-1: #DAD3CC;
    --sr-2: #f9e2d8;
    --sr-3: #BDC6C3;

    --black: #010101;
    --white: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}

.backgroundIntroduction {
    background: rgb(220,201,192);
    background: linear-gradient(0deg, rgba(220,201,192,1) 0%, rgba(210,169,161,1) 30%, rgba(191,136,126,1) 100%);
}

.button-container-before::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    transition: all 250ms linear;
    opacity: 0;
}
  
.button-container-hover-before:hover::before {
    top: -50%;
    left: 100%;
    transition: all 250ms linear;
    opacity: 1;
}

@layer utilities {
    .rounded-custom {
        border-radius: 16% 84% 0% 100% / 43% 0% 100% 57%;
    }
}
