@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #3490dc;
    --secondary: #ffed4a;
    --dark: #222;
    --light: #f9f9f9;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}
